.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    
    font-size: 40px;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8E5D52 85.61%);
    color: #fff;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: rgba(0, 0, 0, 0.6);
}

header .logo-container img {
    max-width: 150px;
}


nav a {
    color: #fff;
    margin: 0 15px;
    font-size: 25px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffbf00;
}

main {
    padding: 2rem 5%;
}

.sobre {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;

}

.sobre h1 {
    font-size: 50px;
    margin-bottom: 1rem;
    align-items: center;
    border-bottom: 3px solid #ffbf00;
    
}

.sobre p {
    font-size: 30px;
    margin-bottom: 1rem;
}

.conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.conteudo-sobre img {
    max-width: 30%;
    height: auto;
}


.donativos {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 8px;
}

.donativos h2 {
    font-size: 50px;
    margin-bottom: 1rem;
}

.donativos p {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.botao-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #8E5D52;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffbf00;
}

footer {
    background-color: #2f2325;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

footer p {
    font-size: 0.9rem;
}

.text-relatos {
    padding: 50px;
}

.text-relatos h1{
    font-size: 35px;
    border-bottom: 3px solid #ffbf00;
    padding-bottom: 10px;
    margin-bottom: 20px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    background: linear-gradient(45deg, #ffbf00, #ffbf01);
    -webkit-background-clip: text; 
    color: transparent;
}

.text-relatos h2{
    font-size: 25px;
    margin-top: 20px;
    border-bottom: 3px solid #2f2325;

}

.text-relatos h4{
    font-size: 15px;
    margin-top: 30px;
}

.text-relatos p{
    font-size: 20px;
}